.ui.active.visible.top.left.pointing.dropdown .menu.transition.visible{
  left: -10px;
}

.mail.icon {
  position: relative;
  top: 0.2em;
}

.ui.card .content.notificationItem {
  padding: 0 0;
  max-height: 500px;
  width: 295px;
  overflow: auto;
}

.content.notificationItem .ui.card {
  margin: 0 0;
  height: auto;
  white-space: normal;
}

.content .close.icon {
  position: relative;
  left: 16.4em;
  bottom: 0.7em;
}
.content .warning.icon {
  position: relative;
  bottom: 0.4em;
}

.content .text {
  color: black;
}

.top {
    box-shadow: none;
    border: none !important;
    background-color: #EAE1D0 !important;
    color: #6C91A0 !important;
}

.navbar-item {
    color: #6C91A0 !important;
    font-family: "Lato", serif !important;
    font-size: 19px;
}

.navbar-home {
  color: #6C91A0 !important;
  font-family: "Lato", serif !important;
  font-size: 26px;
  margin-bottom: 10px;
}

.homeButton {
    color: #FFFFFF !important;
}

.navBar .active.item {
    font-weight: bold !important;
    background: none !important;
    text-decoration: underline !important;
    text-decoration-color: #FFFFFF !important;
    text-underline-offset: 0.5em !important;
}

.navBar .item:hover {
    background: none !important;
    text-decoration: underline !important;
    text-decoration-color: #FFFFFF !important;
    text-underline-offset: 0.5em !important;
    font-family: "Lato", serif !important;

}

.ui.container .ui.container.grid {
    margin-top: 40px;
}

.ui.container.grid .row {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.row .twelve.wide.column {
    padding-top: 1rem;

}
.row .thirteen.wide.column {
    padding-top: 1rem;

}

.ui.container.inventory {
    margin-bottom: 2rem;
}
/*.listcontainer {
  background-color: #800000 !important;
  color: #FFFFFF !important;
} */

.ui.container.editinventory {
  margin-bottom: 90px;
}

h1.ui.header, h3.ui.header {
  font-family: "Lato", serif !important;
  font-size: 20px;
  letter-spacing: 0.1rem;
  color: whitesmoke;
  font-weight: lighter;
}

h4.ui.header, h5.ui.header {
  font-family: "Lato", serif !important;
  color: whitesmoke;
  font-weight: lighter;
}

h2.ui.header, .p {
  font-family: "Lato", serif !important;
  color: #6C91A0;
  font-weight: lighter;
}

.ui.grid.landing {
  margin-top: 160px;
  margin-bottom: 180px;
}

.signout-page {
  margin-top: 160px;
  margin-bottom: 20px;
}

.login-page {
  margin-top: 180px;
  margin-bottom: 160px;
}

.logup-page {
  margin-top: 180px;
  margin-bottom: 160px;
}

.dispenseMenu {
    height: 250px;
    overflow: scroll;
}

.dispenseItem {
    height: 30px;
    width: 90px;
}

.deleteButton {
  left: 30.7em;
  top: 1em;
}
.listUserAdmin {
  padding-top: 120px;
  padding-bottom: 120px;
}

.rolesNavbar, .logHistoryNavbar, .databaseNavbar {
  color: #6C91A0 !important;
  font-family: "Lato", serif !important;
  font-size: 19px;
}

.rolesNavbar {
  margin-left: 100px;
}
